/*
Base Container

Container for content.
*/

.container {
    max-width: 1452px;
    margin: auto;
    padding-left: 54px;
    padding-right: 54px;
    @media screen and (max-width: 768px) and (min-width: 425px) {
        padding-left: 36px;
        padding-right: 36px;
    }
    @media screen and (max-width: 425px) {
        padding-left: 16px;
        padding-right: 16px;
    }
}

/*
Fluid container

Container that takes up 100% of the width in screens up to 1452px, but with the same padding.
*/

.container-fluid {
    padding-left: 54px;
    padding-right: 54px;
    @media screen and (max-width: 768px) and (min-width: 425px) {
        padding-left: 36px;
        padding-right: 36px;
    }
    @media screen and (max-width: 425px) {
        padding-left: 16px;
        padding-right: 16px;
    }
}
