// Flex Grid
.flex-grid {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 24px;
    width: auto;
    margin: auto;
    @media screen and (max-width: 425px) {
        gap: 16px;
    }
}

@for $col-4k from 1 through 12 {
    @for $col-tablet from 1 through 6 {
        @for $col-iphone from 1 through 4 {
            .grid-item-#{$col-4k}-#{$col-tablet}-#{$col-iphone} {
                display: flex;
                flex-basis: calc(
                    (100% - ((12 / $col-4k - 1) * 24px)) * ($col-4k / 12)
                );
                @media screen and (max-width: 768px) and (min-width: 425px) {
                    flex-basis: calc(
                        (100% - ((6 / $col-tablet - 1) * 24px)) *
                            ($col-tablet / 6)
                    );
                }
                @media screen and (max-width: 425px) {
                    flex-basis: calc(
                        (100% - ((4 / $col-iphone - 1) * 16px)) *
                            ($col-iphone / 4)
                    );
                }
            }
        }
    }
}
