/*
Base Container

Container for content.
*/

@mixin container {
    max-width: 1452px;
    width: 100%;
    margin: auto;
    padding-left: 54px;
    padding-right: 54px;
    @include tablet {
        padding-left: 36px;
        padding-right: 36px;
    }
    @include mobile {
        padding-left: 16px;
        padding-right: 16px;
    }
}

/*
Fluid container

Container that takes up 100% of the width in screens up to 1452px, but with the same padding.
*/

@mixin container-fluid {
    padding-left: 54px;
    padding-right: 54px;
    @include tablet {
        padding-left: 36px;
        padding-right: 36px;
    }
    @include mobile {
        padding-left: 16px;
        padding-right: 16px;
    }
}
