/*
Icon Button Large Rounded
*/

.icon-button-rounded-lg {
    @include basic-animation;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background-color: $primary;
    border-radius: 50%;
    cursor: pointer;
    span {
        color: $text-white-primary;
        user-select: none;
    }
    &:hover {
        @include basic-animation;
        background-color: $primary-hover;
    }
    &:active {
        @include basic-animation;
        background-color: $primary-active;
    }
}

/*
Button Groups Large
*/

.button-group-lg-4 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: min-content;
    background: $line-white;
    border-radius: 8px;
    border: 1px solid $line-white;
    gap: 1px;
    overflow: hidden;
    .button {
        @include basic-animation;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: $padding-3 $padding-4;
        gap: $padding-2;
        background: $background-white-primary;
        cursor: pointer;
        &:hover {
            @include basic-animation;
            background: $primary-background;
        }
    }
    .active {
        @include basic-animation;
        background: $primary;
        color: $text-white-primary;
        p {
            color: $text-white-primary;
        }
        &:hover {
            background: $primary;
        }
    }
}
